.Link {
  padding: var(--space-s) 0 0;
}

.Link a{
  color: var(--thirty-color);
  font-size: 1.8rem;
  padding-left: var(--space-m);
  text-decoration: none;
}

.Link svg path {
  fill: var(--secondary-color);
  height: 1.8rem;
  width: 1.8rem;
}
