html {
  font-size: $font-size;
}

body {
  font-family: $font-family;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-areas:
    'logo'
    'infos'
    'sidebar';
  grid-template-columns: 1fr;

  @media screen and (min-width: $breakable-desktop) {
    grid-template-areas:
      'logo photo'
      'infos sidebar';
    grid-template-columns: 1fr minmax(300px, 300px);
  }
}

.main {
  grid-area: infos;
  padding: 0 $space-l;
}

.aside {
  grid-area: sidebar;
  background-color: $primary-color;
  color: $thirty-color;
  margin-top: $space-l;

  @media screen and (min-width: $breakable-desktop) {
    margin: 0;
  }
}

.aside .content {
  padding: $space-l;
}

.aside .title {
  color: $thirty-color;
}

/**
 Common
 **/

.display-linebreak {
  white-space: pre-line;
  padding: $space-s 0;
}

.title {
  color: $primary-color;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: $space-s;
  display: flex;
  align-items: center;

  svg {
    padding-right: $space-xs;
  }

  @media screen and (min-width: $breakable-desktop) {
    font-size: 2rem;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.headline {
  color: $secondary-color;
  font-size: 1.8rem;
  margin: $space-s 0;

  @media screen and (min-width: $breakable-desktop) {
    font-size: 2rem;
  }
}

.duration {
  color: $secondary-color;
  font-size: 1.5rem;
  margin: $space-s 0;

  @media screen and (min-width: $breakable-desktop) {
    font-size: 1.8rem;
  }
}
