@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html{
  font-size: 10px;
}
a{
  font-family: 'Roboto', sans-serif;
}
.app{
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  height:100%;
  padding: 0 20px;
}
.logo {
  color:#494949;
  display: block;
  font-weight: bold;
  font-size:4rem;
  padding-top:20px;
}

.header {
  color: white;
}
.photo{
  border-radius: 100px;
  position:absolute !important;
  top:15px;
  height: 120px;
  right:50px;
  width:120px;
}
.intro {
  color:#6bbae4;
  display: block;
  font-size: 2.5rem;
  padding-top:10px;
}
.leftSection{
  float:left;
  width:80%;
}
.righSection{
  background-color: #383c43;
  float: right;
  height: auto;
  min-height: 85%;
  position: absolute;
  right: 0;
  width: 20%;
  /* HACK */
  padding-bottom: 10em;

}
.righSection .content{
  color:#FFF;
  font-size:1.8rem;
  padding:20px 50px;
}

.title{
  display: block;
  color:#494949;
  font-size: 2rem;
  font-weight: bold;
  padding-top:10px;
}
.righSection .title{
  color:#FFF;
}
.righSection ul{
  padding:0px;
  list-style-type: none;
}
.righSection li{
  padding:5px 0;
}
.righSection a,.righSection a:visited{
  color:#FFF;
  text-decoration: none;
}
.righSection li .fa{
  color:#6bbae4;
  width:20px;
}
.righSection li a {
  padding-left:10px;
}
.resume, .exp, .formation, .passions{
    color:#494949;
    font-size:1.5rem;
}
.passion{
  color:#494949;
  display:inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  padding:10px 0;
  width:50%;
}
.intitule,.formation .description{
  color:#494949;
  font-size: 1.8rem;
  font-weight: 500;
}
.headlineArticle, .duration, .headlineCompetence{
  color:#6bbae4;
  font-size:2rem;
  padding-top:5px;
}
.headlineArticle{
  float:left;
}
.headlineCompetence{
  float:none;
}
.duration{
  float:right;
}
section{
  margin-top:40px;
}
.clear{clear:both;}
footer{
  background-color: #6bbae4;
  height:20px;
  margin-top:20px;
  left:0;
  right: 0;
  bottom: 0;
  position:absolute;
  padding:0;
  width:100%;
}
.skills{
  padding-top:5px;
}
.nameSkill{
  float:left;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.skillList{
  float:right;
}

.skill{
  background-color:#FFFFFF;
  border-radius: 50%;
  display:inline-block;
  height:13px;
  margin-left: 1px;
  width:13px;
}
.full{
  background-color:#6bbae4;
}
.thirty{
  background: linear-gradient(90deg, #6bbae4 25%, #FFFFFF 75%);
}
.half{
  background: linear-gradient(90deg, #6bbae4 50%, #FFFFFF 50%);
}
.seventy{
  background: linear-gradient(90deg, #6bbae4 75%, #FFFFFF 25%);
}
.refInfo{
  font-size: 1.3rem;
  padding-top:10px;
}

.display-linebreak {
  white-space: pre-line;
}

@media screen and (min-width:1100px) and (max-width: 1400px) {
  .righSection{width:25%}
  .leftSection{width:75%}
}
@media screen and (min-width:800px)  and (max-width:1100px) {
  .righSection{width:30%; padding-bottom: 20rem;}
  .leftSection{width:70%}
  .nameSkill{font-size:1.2rem}
  .skill{width:10px;height: 10px;}
  .passion{font-size:1.5rem}
}
/* HACK */
@media screen and (min-width:800px) and (max-width:900px){
  .righSection{padding-bottom: 25rem;}
}
@media screen and (max-width:800px) {
  .righSection{width:100%;float:none;left:0; padding-bottom: 0;}
  .leftSection{width:100%;float:none;}
  .nameSkill{font-size:1.5rem}
}

@media screen and (max-width:550px) {
  .photo{display:none;}
}
