@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

:root {
  --primary-color: #383c43;
  --secondary-color: #6bbae4;
  --thirty-color: #ffffff;
  --space-l: 32px;
  --space-m: 16px;
  --space-s: 8px;
  --font-size: 10px;
  --font-family: 'Roboto', sans-serif;
}
html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family);
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

header,
footer {
  grid-column: 1 / 11;
}

.main {
  grid-column: 1 / span 8;
  padding: var(--space-l);
}

.aside {
  grid-column: span 2;
  background-color: var(--primary-color);
  color: var(--thirty-color);
}

.aside .content {
  padding: var(--space-l);
}

.aside .title {
  color: var(--thirty-color);
}

/**
 Common
 **/

.display-linebreak {
  white-space: pre-line;
}

.title {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.headline {
  color: var(--secondary-color);
  font-size: 2rem;
}
